{% extends 'base.html'%} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible show" role="alert">
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<br />
{% endfor %} {% if name %}
<h1 style="margin-top: 4vh">hello {{name}}</h1>
<br />

{% else %}
<center>
  <form method="POST">
    {{ form.hidden_tag() }} {{ form.name.label(class="form-label mt-4 fs-1") }}
    <br />{{ form.name(class="input-group-text") }} {{ form.submit(class="btn
    btn-secondary mt-4") }}
  </form>
</center>

{% endif %} {% endblock %}
